<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Style/user/cart.css">

    <title>Cart</title>
    <link rel="icon" type="image/png" href="/Images/Logo/favicon_without_bg.png">
</head>

<body>



    <!-- Logout Confirmation Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <input type="text" name="message" id="message" value="{{{message}}}" hidden>
    <!-- Modal HTML -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{{message}}} <!-- Dynamic message passed from res.render -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg bg-body-dark d-flex justify-content-between">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img id="logo-img" src="/Images/Logo/secondary_logo_without_bg.webp" alt="CHRONIX Secondary Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-end " id="navbarScroll">
                {{#if user.username}}
                <p class="d-flex justify-content-end navbar_username mt-3 me-5"><a href="/profile"
                        class="text-decoration-none text-center">{{{user.username}}}</a></p>
                {{else}}
                <p class="d-flex navbar_username mt-3 me-5"><a href="/login"
                        class="text-decoration-none text-center"><i class="bi bi-box-arrow-right"></i> LOG IN {{user}}
                    </a>
                </p>
                {{/if}}
            </div>
        </div>
    </nav>



    <div class="d-flex">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar me-3">
            <ul class="list-unstyled">
                <li id="home" class="sidebar-item"><a href="/"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-house-door"></i><span
                            class="item-text ms-2"> Home</span></a></li>
                <li id="explore" class="sidebar-item"><a href="/explore"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-compass"></i><span
                            class="item-text ms-2"> Explore</span></a></li>
                <li id="wishlist" class="sidebar-item"><a href="/wishlist"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-heart"></i><span
                            class="item-text ms-2"> Wishlist</span></a></li>
                <li id="cart" class="sidebar-item"><a href="/cart"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-cart2"></i><span
                            class="item-text ms-2"> Cart</span></a></li>
                <li id="profile" class="sidebar-item"><a href="/profile"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-person"></i><span
                            class="item-text ms-2"> Profile</span></a></li>
                <li id="orders" class="sidebar-item"><a href="/orders"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-clock-history"></i><span
                            class="item-text ms-2"> Orders</span></a></li>
                 
                <li id="wallet" class="sidebar-item"><a href="/wallet"
                        class="d-flex align-items-center text-decoration-none"><i class="bi bi-wallet"></i><span
                            class="item-text ms-2"> Wallet</span></a></li>
                <li id="logout" class="sidebar-item">
                    <a href="#" class="d-flex align-items-center text-decoration-none" data-bs-toggle="modal"
                        data-bs-target="#logoutModal">
                        <i class="bi bi-box-arrow-right"></i>
                        <span class="item-text ms-2">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content ms-5 col-lg-9">
            <div class="container mt-4" id="products" style="overflow-y: scroll; max-height: 300px;">

                <!-- Check if there are any cart items -->
                {{#if cartItems}}
                {{#each cartItems}}
                <div class="product-card">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-4"
                            onclick="location.href='/product/{{this.product_id._id}}'" style="cursor: pointer;">
                            <img src="/{{getFirstImage this.product_id.product_image}}"
                                alt="{{this.product_id.product_name}}" class="product-image"
                                style="width: 80px; height: 80px;">
                            <div class="d-flex flex-column">
                                <h5 class="mb-1 text-info product-name">{{this.product_id.product_name}}</h5>
                                <p id="product-description" class="mb-0">{{this.categoryName}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-4">
                            <div>
                                {{#if this.discount}}
                                <p class="text-decoration-line-through text-secondary mb-0">₹
                                    {{this.product_id.currentPrice}}</p>
                                <p class="text-warning fw-bold mb-0">₹ {{this.discountedPrice}} <span
                                        class="text-danger">({{this.discount}}% OFF)</span></p>
                                {{else}}
                                <p class="text-warning fw-bold mb-0">₹ {{this.product_id.currentPrice}}</p>
                                {{/if}}
                            </div>
                            <div class="quantity-control d-flex align-items-center gap-2">
                                <!-- Quantity control forms -->
                                <form action="/cart/{{../user._id}}/decrease/{{this._id}}" method="POST">
                                    <button type="submit" class="btn text-white p-0"><i
                                            class="bi bi-dash-circle"></i></button>
                                </form>

                                <span id="quantity-{{this._id}}">{{this.quantity}}</span>

                                <form action="/cart/{{../user._id}}/increase/{{this._id}}" method="POST">
                                    <button type="submit" class="btn text-white p-0"><i
                                            class="bi bi-plus-circle"></i></button>
                                </form>
                            </div>
                            <!-- Remove button and modal -->
                            <button type="button" class="btn btn-outline-danger" id="remove-button"
                                data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal-{{this._id}}">
                                Remove
                            </button>

                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="deleteConfirmationModal-{{this._id}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel-{{this._id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel-{{this._id}}">Delete
                                                Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this item from your cart?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <form action="/cart/{{../user._id}}/remove/{{this._id}}" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p class="text-info fs-1 fw-bold">No items in your cart.</p class="text-warning fs-1 fw-bold">
                {{/if}}
            </div>
            <!-- Total Section -->
            <div class="product-card mt-4">
                    {{#if cartItems}}
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mb-0">TOTAL AMOUNT</h4>
                        <p class="text-secondary mb-0">Original Price: ₹ {{totalAmount}}</p>
                        <p class="text-danger mb-0">Discount: -₹ {{totalDiscount}}</p>
                        <h3 class="text-warning mb-0">Final Price: ₹ {{discountedTotal}}</h3>
                    </div>
                    <a href="/checkout" class="btn checkout-btn">CHECKOUT</a>
                    {{else}}
                <div class="d-grid gap-2">
                    <a href="/explore" class="btn checkout-btn">EXPLORE</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script>

        const messageInput = document.getElementById('message');
        const messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
        if (messageInput.value) {
            messageModal.show();
        }


        function removeItem(cartItemId) {
            fetch(`/cart/${userId}/remove/${cartItemId}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => location.reload()); // Reload the cart page to reflect changes
        }

        function decreaseQuantity(cartItemId) {
            fetch(`/cart/${userId}/update/${cartItemId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ action: 'decrease' })
            })
                .then(response => response.json())
                .then(data => location.reload()); // Reload the cart page to reflect changes
        }

        function increaseQuantity(cartItemId, maxStock) {
            fetch(`/cart/${userId}/update/${cartItemId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ action: 'increase', maxStock })
            })
                .then(response => response.json())
                .then(data => location.reload()); // Reload the cart page to reflect changes
        }



        const toggleButton = document.getElementById('logo-img');
        const sidebar = document.getElementById('sidebar');

        toggleButton.addEventListener('click', function () {
            sidebar.classList.toggle('minimized');
        });

        // Minimize sidebar by default for small screens on page load
        if (window.innerWidth <= 768) {
            sidebar.classList.add('minimized');
        }

        // Adjust when window is resized (optional, but good for UX)
        window.addEventListener('resize', function () {
            if (window.innerWidth <= 768) {
                sidebar.classList.add('minimized');
            } else {
                sidebar.classList.remove('minimized');
            }
        });


        function increaseQuantity(cartItemId, stock) {
            let quantityElement = document.getElementById(`quantity-${cartItemId}`);
            let currentQuantity = parseInt(quantityElement.innerText);

            // Check if the current quantity is less than stock before increasing
            if (currentQuantity < stock) {
                quantityElement.innerText = currentQuantity + 1;
                // Optionally, make an AJAX request here to update the quantity in the backend
            } else {
                alert("Cannot add more than available stock!");
            }
        }

        function decreaseQuantity(cartItemId) {
            let quantityElement = document.getElementById(`quantity-${cartItemId}`);
            let currentQuantity = parseInt(quantityElement.innerText);
            if (currentQuantity > 1) {
                quantityElement.innerText = currentQuantity - 1;
                // Optionally, make an AJAX request here to update the quantity in the backend
            }
        }



    </script>
</body>

</html>